<%- include('partials/header.ejs') %>
<div class="bg-sky-500 hover:bg-sky-700">
    <h1 class="hover:bg-sky-700">Home Page for Quizfluence</h1>
</div>

<!-- <br><br>


<div class="login">
    <form class="login-form">
        <h1>LOG IN</h1>
        <label>USERNAME</label>
        <input type="text" required>
        <label>PASSWORD</label>
        <input type="password" required>
        <button>SUBMIT</button>
    </form>
</div> -->


<%- include('partials/footer.ejs') %>