<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="../../public/style.css">
<div class="login">
    <form class="login-form">
        <h1>LOG IN</h1>
        <label>USERNAME</label>
        <input type="text" required>
        <label>PASSWORD</label>
        <input type="password" required>
        <button>LOG IN</button>
    </form>
</div>




<%- include('partials/footer.ejs') %>